*, ::after, ::before {
	box-sizing: border-box;
}

/* Loading  start */
#p_prldr {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 100;
}

.contpre {
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	color: #ffffff;
/* 	font-size: 40px; */
	text-align: center;
}

#p_prldr .svg_anm {
	position: absolute;
	width: 200px;
	height: 200px;
	background: url(../svg/loading.svg) center center no-repeat;
	background-size: 200px;
	margin: -16px 0 0 -16px;
}
/* Loading  end */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, .header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, .header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }


body {
	background: #222222;
}

header {
	background: #333333;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	text-align: center;
	
	-webkit-box-pack: end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin: 0 auto 10px;
}

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;

	justify-content: space-around;
	max-width: 1000px;
	margin: 0 auto;
}

#doc_time {
	color: #d2d2d2;

	font: 16px Google Sans;
	font-weight: 600;
	padding: 5px;
}

.music {
	color: #d2d2d2;
/*	-	-	-	-	-	-  */
	font: 16px Google Sans;
	font-weight: 600;
	padding: 5px 10px;
}

/* Кнопка <PayPal> на странице поддержки */
.aaaaaa {
	border: .1px solid #f3f3f3;
	font: 16px Google Sans;
	text-decoration: none;
	background-image: linear-gradient(90deg, #225ac3, #2d98fd);
	-webkit-background-clip: text;
	-webkit-animation: for-rainbow 30s ease infinite;
	animation: for-rainbow 30s ease infinite;
	color: transparent;
	position: relative;
	text-align: center;
	padding: 10.4% 9%;
	margin: 1%;
/*	-	-	-	-	-	-  */
	cursor: pointer;
}

/* Кнопка <Поддержать> на главной странице */
.aaaaab {
	border: 2px solid #333333;
	font: 16px Google Sans;
	background-image: linear-gradient(270deg, #d83b3b, #e3ed20, #20ed2d, #2082ed, #cd20ed, #20edbe);
	background-size: 1200% 1200%;
	-webkit-animation: for-rainbow 30s ease infinite;
	-moz-animation: for-rainbow 30s ease infinite;
	animation: for-rainbow 30s ease infinite;
	color: transparent;
	-webkit-background-clip: text;
	font-weight: 900;
/*	-	-	-	-	-	-  */
	cursor: pointer;
}

/* Кнопка <Исходник> на главной странице */
.aaaaaс {
	border: 2px solid #333333;
	font: 16px Google Sans;
	background-image: linear-gradient(270deg, #ffc800, #947400);
	-webkit-background-clip: text;
	background-size: 1200% 1200%;
	color: transparent;
	animation: for-rainbow 30s ease infinite;
/*	-	-	-	-	-	-  */
	cursor: pointer;
}

/* div отвечающий за кнопки <Поддержать>, <Исходник> и т.д. на главной странице */
.aaaaad {
	 display: flex;
	 justify-content: space-around;
	 margin: 0 auto;
}
