#p_prldr {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	z-index: 100;
}

.contpre {
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	color: #ffffff;
	font-size: 40px;
	text-align: center;
}

#p_prldr .svg_anm {
	position: absolute;
	width: 200px;
	height: 200px;
	background: url(../svg/loading.svg) center center no-repeat;
	background-size: 200px;
	margin: -16px 0 0 -16px;
}
